<div class="card border-0" style="width: 18rem;">
    <div class="d-flex d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://static.vecteezy.com/system/resources/previews/000/654/785/non_2x/woman-face-cartoon-vector.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Estudante de desenvolvimento Fullstack! Aluna da Generation Brasil!</p>
      <a href="https://www.linkedin.com/in/nat%C3%A1lia-l-moreno-4293191a2/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="https://github.com/natalialopesmoreno" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>

    </div>
  </div>
